html {
  height:100%;
}

body {
  padding: 0;
  margin: 0;
  background: transparent;
  min-height:100%;
}

main {
  min-height:100%;
  padding-bottom:50px;
}

.column {
  max-width: 500px;
}

footer {
  height:50px;
  width:100%;
  margin-top:-50px;
  background:#2980B9;
  padding:15px 0;
  text-align:center;
}

footer a, footer a:visited {
  color:white;
  font-weight:bold;
}

footer a:active, footer a:hover {
  color:white;
  font-weight:bold;
  text-decoration:underline;
}
