html {
  height:100%;
}

body {
  padding: 0;
  margin: 0;
  background: transparent;
  min-height:100%;
}

.column {
  max-width: 500px;
}

footer a, footer a:visited {
  color:white;
  font-weight:bold;
}

footer a:active, footer a:hover {
  color:white;
  font-weight:bold;
  text-decoration:underline;
}
